
# dependencies and enviroment python

# Clase_1
# Ciencia_de_Datos/Clase_1/bin
# Ciencia_de_Datos/Clase_1/lib
# Ciencia_de_Datos/Clase_1/lib64
# Ciencia_de_Datos/Clase_1/share

# CLase_2 knn_ennv
# Ciencia_de_Datos/Clase_2/program_1/knn_env/bin
# Ciencia_de_Datos/Clase_2/program_1/knn_env/lib
# Ciencia_de_Datos/Clase_2/program_1/knn_env/lib64
# Ciencia_de_Datos/Clase_2/program_1/knn_env/share
# Ciencia_de_Datos/Clase_2/program_1/knn_env/etc

# Clase_2 knn_small_dataset
# Ciencia_de_Datos/Clase_2/program_1/knn_small_dataset/bin
# Ciencia_de_Datos/Clase_2/program_1/knn_small_dataset/lib
# Ciencia_de_Datos/Clase_2/program_1/knn_small_dataset/bin64
# Ciencia_de_Datos/Clase_2/program_1/knn_small_dataset/share

#Clase_2 movilens-node

DataScience/resources/
DataScience/Clase_2/movilens10m/node_modules
DataScience/Clase_2/movie_ratings/node_modules
DataScience/Clase_2/movilens25m/node_modules
DataScience/Clase_2/movilens25m/data

DataScience/Clase_2/movilens_genome_2021/node_modules
DataScience/Clase_2/movilens_genome_2021/data
